*{
	margin:0; 
	padding:0;
}
body{
	background-color: #353535;
}
h1,h2,,h5,h6,p,a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
h1{
	color:#ffffff;
	font-size: 4em;
	text-shadow: 1px 1px 3px #353535;
}
h2{
	color:#353535;
	text-transform: uppercase;
	font-size:2em;

}
h3{

	font-size: 1.2em;
	color:#353535;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
}
.w{
	color:#c35757;
}
.h {
	height: 20%;
}
.h2 {
	height: 45px;
	display: block;
	text-align: center;
}
.gray{
	color:#717171;
	text-shadow: 1px -1px 1px #353535;
}
.r{
	text-align: center;
}
.lef{
	text-align: center;
}

#reloj{
	float: left;
	width: 100%;
	display: block;
	text-align: center;
	overflow: hidden;
}
h5{

	font-size: 2em;
	color:#9E9E9E;
}
h6{
	font-size: 4em;
	color:#353535;
}
.h7{
	text-shadow: 2px 2px 2px #222222;
	font-size: 7em;
	color:#4F4F4F;
}
p{
	color: #c35757;
	font-weight: 700;
	font-size: 12;
	font-size: 0.5em;
	margin-bottom: 1rem;
  	margin-top: 1rem;
}
.p{
	font-size: 2em;
}
hr { 
   border-top: 2px solid #ffffff; 
   border-bottom: 1px dashed #c35757; 
   height: 4px;
   width: 100%;
   margin-bottom:1%;
   margin-top: 15%;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 50%;
  margin: 0.7px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgb(195, 87, 87);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a;
}
header{
	display:block;
	text-align: center;
	margin-top: 1%;
	width: 100%;
	overflow: hidden;
}
header img{
	width: 100%;
	max-width: 20%;
}
.contenedor
{
	margin: auto;
	width: 100%;
	overflow: hidden;
}
.menu{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	float: left;
	display:block;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
.menu img{
	width: 100%;

	max-width: 35%;
	padding: 2%;
}
#cuatro{
	margin: auto;
	float: left;
	width: 25%;
	display:block;
}
#sistema{
	float: left;
	width: 50%;
	display:block;
	text-align:center;
}
#sistema img{
	width:100%;
	max-width:15%;

}
#mitad{
	width: 50%;	
	text-align: center;
	float: left;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
#mitad img {
	height: auto;
	width: 30%;
	max-width: 30%;
	text-align: center;
	float: left;
	margin-bottom: 1rem;
	margin-top: 1rem;

}
#fondo{
	background:#000;
}
.fondorojo
{
	background: #e1abab;
}
.fondoazul
{
	background: #b0d3f4;
}
#tres{
	float: left;
	width: 33%;
	text-align: center;

}
#seis{
	float: left;
	width: 60%;
	text-align: center;

}
#uno{
	float: left;
	width: 100%;
	display: block;
	text-align: center;
	overflow: hidden;
	margin: auto;
}
.margen{

		/*border: 1px solid #353535;*/
	    padding-top: 0.5%;
	    padding-right: 0.5%;
	    padding-bottom: 0.5%;
	    padding-left: 0.5%;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
}
.chart{width: 100%;}
.nav{
	width: 33.333333%;
	float: left;
	text-align: center;
}
.nav a { 
	color:#ffffff;
	font-size: 1.1em;
	text-transform: uppercase;
	vertical-align: middle;
}
.nav h3{display: none;}

.nav img{
	width: 50%;

}
.regleta 
{
	width:98%;
	background: #4F4F4F;
	display:block;
	padding: 0.5%;
	margin: 1%;
	float: left;
	text-align: center;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.regleta img{
	width: 100%;
	max-width: 50%;
	padding: 0.5%;

}
aside
{
	width: 98%;
	min-height: 25px;
	padding: 1%;
	margin: 1%;
	background: #4F4F4F;
	float: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

footer{
	clear:both;
	width: 100%;
	margin-top: 1.5%;
	color: black;
	padding: 1.5%;
	text-align: center;
}

.apagado img{
	width: 100%;
	max-width: 65px;
}




/*
 @media screen and (max-width: 320px) {
	.regleta img{max-width: 60%;}

	header img{	max-width: 20%;}
	.svg img{max-width: 100%;}
	h3{font-size: 2.5em;}
	p{font-size: 0.85em; 	margin-bottom: 1rem; 	margin-top: 1rem;}
	#mitad img {	max-width: 40%;}

}*/
@media screen and (min-width: 240px) {
	
	header img{	max-width: 15%;}
	.regleta img{max-width: 50%; padding: none;}
	h3{font-size: 1.8rem; 	margin-top: 0.4rem;}
	p{font-size: 0.9rem; 	margin-bottom: 0.7rem; 	margin-top: 0.7rem;}
	h2{	color:#353535;	text-transform: uppercase;	font-size:1rem;}
	h5{	font-size: 1.2rem;	color:#9E9E9E;}
	#mitad img {max-width: 100%; margin-top: 0.7rem;}
	.h {height: 10px;}
	.menu img{

	max-width: 25%;
	padding: 2%;
}

} 