*{
	margin:0; 
	padding:0;
}
body{
	background-color: #353535;
}

.contenedor
{
	margin: auto;
	width: 100%;
	overflow: hidden;
}

.h {
    height: 10rem;
}
.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
img {
    width: 100%;
    height: auto;
}
p{
	color: #c35757;
	font-weight: 700;
	font-size: 10;
	font-size: 1em;
	margin-bottom: 1rem;
  	margin-top: 1rem;
}